<div class="container-fluid" id="button-container">
    <span>
        <a ng-click="model.displayMap()" class="btn btn-secondary btn-lg" id="button1">Interactive Map</a>
        <a class="btn btn-secondary btn-lg" id="dummybutton">|</a>
        <a ng-click="model.displayTable()" class="btn btn-secondary btn-lg" id="button2">Tabular View</a>
    </span>
</div>

<div id="maincontent" class="container-fluid">

<div id="TableView" ng-show="model.showTable">
    <h1>Does my pet need an Umbrella?</h1>
    <section>
        <h3 align="center">Select a pet to find out</h3>
        <!--for demo wrap-->
        <div class="tbl-header">
            <table cellpadding="0" cellspacing="0" border="0">
                <thead>
                <tr>
                    <th>Name</th>
                    <th>Type</th>
                    <th>Breed</th>
                    <th></th>
                </tr>
                </thead>
            </table>
        </div>
        <div class="tbl-content">
            <table cellpadding="0" cellspacing="0" border="0">
                <tbody>
                <tr ng-repeat="pet in model.pets">
                    <td>{{pet.name}}</td>
                    <td>{{pet.type}}</td>
                    <td>{{pet.breed}}</td>
                    <td><a href="#/pet/{{pet.id}}">View</a></td>
                </tr>
                </tbody>
            </table>
        </div>
    </section>
</div>

<div id="InteractiveMap" ng-show="model.showTable==false" class="map" map-lazy-load='https://maps.google.com/maps/api/js' ngif="model.mapEnable">
    <h1>Does my pet need an Umbrella?</h1>
    <h3 align="center">Select a pet to find out (Click on marker)</h3>
    <ng-map center="42.5,-71.5" zoom="3">
        <marker ng-repeat="pet in model.pets" id={{pet.id}} position="[{{pet.latitude}},{{pet.longitude}}]" on-click="model.viewPet(pet)"></marker>
    </ng-map>
</div>
</div>

<a href="#/pet/new" class="btn btn-primary" id="createbutton">Add new pet</a>
